body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(30, 30, 30);
}
.center {
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    height: 500px;
    margin: auto;
    background-color: rgb(34, 34, 34);
    border-radius: 14px;
    overflow: hidden;
}
#out {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white
}
#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 24px;
}
.button {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: grey;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(111, 111, 111);
}
.button:active {
    background-color: rgb(170, 170, 170);
}
.op {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: rgb(200, 140, 0);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
.op:hover {
    background-color: rgb(220, 150, 44);
}
.op:active {
    background-color: rgb(240, 165, 70);
}
.exec {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border-color: white;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
.exec:hover {
    background-color: rgb(55, 55, 55);
}
.exec:active {
    background-color: rgb(75, 75, 75);
}